
<% provide(:title, 'All Kittens') %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
<h1>kittens</h1>
<% @kittens.each do |kitten| %>
  <p>
    <p><%= link_to kitten.name, kitten %></p>
    <p><%= kitten.age %></p>
    <p><%= kitten.cuteness %></p>
    <p><%= kitten.softness %></p>
   
  </p>
<hr />
<% end %>

</div>
</div>


        
  
